.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}


.lightMode-background {
  background-color: #fff;
  color:#323232
}

.darkMode-background {
  background-color: #323232;
  color: #fff;
}

.intro {
  background-color: hotpink;
  border: solid black;
  padding: 10px;
  color: #fff;
}

p {
  cursor: pointer;
}